body {
    height: 715px;
    background-image: linear-gradient(to bottom, #2D5B86, #8AC9BE, #BBC8B8);
}

.bar {
    height: 75px;
    width: 1100px;
    justify-self: center; 
    margin-left: 150px;
    margin-top: 25px; 
    margin-bottom: 50px; 
}

.videogame-photo {
    height: 550px;
    border: 1px solid white;
    border-radius: 30px;
    width: 70%;
    justify-self: center;
    object-fit: contain;
    margin: 50px;
}

.videogame-background {
    visibility: hidden;
}

.videogame-name {
    font-family: 'Aldrich', sans-serif;
    font-size: 18px;
    color: rgb(79, 80, 110);
    text-align: center;
    margin-right: 100px;
    margin-top: -350px;
    height: 60px;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: black;
    z-index: index 4;
}

.videogame-description {
    font-family: 'Aldrich', sans-serif;
    font-size: 15px;
    color: rgb(79, 80, 110);
    text-align: center;
    margin-top: -50px;
    margin-bottom: 10px;
    margin-right: 100px;
    height: 30px;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: black;
    z-index: index 3;
}

.scroll {
    margin-top: 100px;
    height: 680px;
    overflow-y: scroll;
}

#grid {
    margin-left: 250px;
    margin-right: 250px; 
}

#gallery {
    margin-left: 400px;
    margin-right: 300px; 
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

.icon {
    position: absolute;
    top: 300px;
    right: 140px;
}

.symbol {
    height: 185px;
}

h5 {
    font-family: 'Aldrich', sans-serif;
    color: #46754B;
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
    margin-right: 50px;
}

h6 {
    font-family: 'Aldrich', sans-serif;
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 3px;
}

h6:hover {
    text-shadow: 0 0 8px #fff;
}

.menu {
    position: absolute;
    top: 5px;
    left: 280px;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    place-content: center;
    justify-content: center;
    place-items: center;
    justify-items: center;
}

.back {
    position: absolute;
    top: 60px;
    left: 1120px;
}

.element {
    margin-top: 35px;
    margin-left: 80px;
    margin-right: 80px;
}

.symbol {
    height: 40px;
    width: 37px;
}

.icon1 {
    height: 180px;
    width: 150px;
}

a {
    text-decoration: none;
    color: white;
}